.profile-image img{
    border: 2px solid white;
    width: 60%;
    border-radius: 50%;
}

.management span{
    color: rgba(3, 65, 18, 0.986);
    font-size: 1rem;
    font-style: italic;
    font-family: sans-serif;
}

.management-title{
    text-align: center;
    color: rgba(3, 65, 18, 0.986);
    font-style: italic;
    font-family: sans-serif;
    margin: 2rem;
    letter-spacing: 0.5em;
    box-shadow: 5px 10px rgba(3, 65, 18, 0.986);
    
}